<MarketplaceDetails>
  <SmallAppTile>triathlonChecklistIcon99.png</SmallAppTile>
  <LargeAppTile>triathlonChecklistIcon173.png</LargeAppTile>
  <PCAppTile>triathlonChecklistIcon200.png</PCAppTile>
  <ScreenShots>screenshot01.png;screenshot02.png;screenshot03.png;screenshot04.png;splashScreen17.png;;;;</ScreenShots>
</MarketplaceDetails>